<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OBS Image Wrapper</title>
    <link rel="stylesheet" href="{{ url_for('static', path='styles.css') }}">
</head>
<body>
    <img src="https://app.cjnnow.com/advertisement/{{ ad_file_name }}" alt="Image">
</body>
</html>
